@media screen {
  .newsletterLabelContainer, .orderButtonContainer {
    justify-content: space-between;
  }

  .orderButtonContainer div:first-child {
    text-align: left;
  }
  .orderButtonContainer div {
    text-align: center;
    max-width: 40%;
  }

  .itemContainer {
    column-gap: 3rem;
    padding: 0 4rem;
  }
  .itemContainer .wheelchairInfo {
    width: 40%;
  }
  .itemContainer .wheelchairInfo h2 {
    font-size: 2rem;
  }
  .itemContainer .wheelchairInfo p {
    font-size: 1.6rem;
  }
  .itemContainer .rightContainer {
    width: 60%;
  }
  .itemContainer .rightContainer .firstForm, .itemContainer .rightContainer .secondForm {
    max-width: 900px;
  }
}
@media screen and (max-width: 1130px) {
  .itemContainer {
    column-gap: 1rem;
  }
  .itemContainer .wheelchairInfo h2 {
    font-size: 1.8rem;
  }
  .itemContainer .wheelchairInfo p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1080px) {
  .itemContainer {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .itemContainer {
    flex-direction: column;
    align-items: center;
  }
  .itemContainer .wheelchairInfo {
    width: 100%;
  }
  .itemContainer .wheelchairInfo h2 {
    font-size: 2rem;
  }
  .itemContainer .wheelchairInfo p {
    font-size: 1.6rem;
  }
  .itemContainer .rightContainer {
    align-items: center;
    width: 100%;
    row-gap: 3rem;
  }
  .itemContainer .rightContainer .firstForm, .itemContainer .rightContainer .secondForm {
    margin: 0;
    max-width: 640px;
    width: 100%;
  }
}
@media screen and (max-width: 574px) {
  .newsletterLabelContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 514px) {
  .orderButtonContainer {
    justify-content: center;
  }
  .orderButtonContainer div:first-child {
    text-align: center;
  }
  .orderButtonContainer div {
    max-width: 100%;
  }

  .itemContainer .wheelchairInfo h2 {
    font-size: 1.8rem;
  }
  .itemContainer .wheelchairInfo p {
    font-size: 1.4rem;
  }
}
body {
  display: flex;
  justify-content: center;
}

.itemContainer {
  display: flex;
  width: 100%;
  margin-top: 6rem;
  row-gap: 2rem;
}

.wheelchairInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  max-width: 640px;
  max-height: 680px;
  row-gap: 2rem;
  margin-top: 1rem;
  padding: 2.5rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}
.wheelchairInfo img {
  min-width: 300px;
  max-width: 450px;
  width: 100%;
}
.wheelchairInfo h2, .wheelchairInfo p {
  align-self: start;
  margin-left: 2rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.rightContainer .firstForm, .rightContainer .secondForm {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(7, 59, 77, 0.4);
  border-radius: 1rem;
  row-gap: 1.5rem;
  margin: 2rem 0 2rem 2rem;
}
.rightContainer .firstForm .shippingSummaryContainer, .rightContainer .secondForm .shippingSummaryContainer {
  flex-direction: column;
  row-gap: 0.2rem;
  padding: 0 2rem 1.5rem 2rem;
}
.rightContainer .firstForm .shippingSummaryContainer p, .rightContainer .secondForm .shippingSummaryContainer p {
  font-size: 1.1rem;
}
.rightContainer .firstForm h1, .rightContainer .secondForm h1 {
  border-radius: 1rem;
  background-color: rgba(220, 230, 234, 0.5);
  padding: 1rem;
}
.rightContainer .firstForm h1::after, .rightContainer .secondForm h1::after {
  font-family: FontAwesome, serif;
  content: attr(data-after);
  float: right;
}
.rightContainer .firstForm h1 .editFormSpan, .rightContainer .secondForm h1 .editFormSpan {
  cursor: pointer;
  margin-left: 2rem;
  font-size: 1.2rem;
}
.rightContainer .firstForm h1 .editFormSpan i, .rightContainer .secondForm h1 .editFormSpan i {
  margin-left: 0.3rem;
  font-size: 1rem;
}
.rightContainer button {
  cursor: pointer;
  border: none;
  white-space: nowrap;
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
  border-radius: 1.5rem;
  background-color: #0d506c;
  color: #d2e4ee;
  transition-duration: 0.2s;
}
.rightContainer button:hover {
  background-color: #073b4d;
  transform: scale(1.06);
}
.rightContainer .checkBox {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.rightContainer .shippingContainer, .rightContainer .paymentContainer {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 1.5rem 2rem;
  row-gap: 2rem;
}
.rightContainer .shippingContainer div label, .rightContainer .paymentContainer div label {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.rightContainer .shippingContainer ul, .rightContainer .paymentContainer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-bottom: -1rem;
}
.rightContainer .shippingContainer ul li, .rightContainer .paymentContainer ul li {
  display: flex;
  column-gap: 1rem;
}
.rightContainer .shippingContainer ul li input:not(.checkBox), .rightContainer .shippingContainer ul li select, .rightContainer .paymentContainer ul li input:not(.checkBox), .rightContainer .paymentContainer ul li select {
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.1rem;
}
.rightContainer .shippingContainer ul li select, .rightContainer .paymentContainer ul li select {
  cursor: pointer;
  appearance: none;
  background-image: url("/randomPictures/downArrow.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position-x: 96%;
}
.rightContainer .newsletterLabelContainer {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #084057;
}
.rightContainer .newsletterLabelContainer label {
  width: 100%;
  color: #073b4d;
}
.rightContainer .newsletterLabelContainer div:first-child {
  text-align: left;
  column-gap: 0;
  min-width: 201px;
}
.rightContainer .newsletterLabelContainer div {
  text-align: center;
  width: 40%;
  min-width: 220px;
}
.rightContainer .newsletterLabelContainer div button {
  min-width: 220px;
  max-width: 220px;
}
.rightContainer .paymentContainer .paymentMethods {
  flex-flow: row wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
}
.rightContainer .paymentContainer .paymentMethods li {
  min-width: 120px;
  max-width: 180px;
  width: 100%;
}
.rightContainer .paymentContainer .paymentMethods li div {
  display: flex;
  align-items: center;
}
.rightContainer .paymentContainer .paymentMethods li div label {
  padding-left: 0.5rem;
}
.rightContainer .paymentContainer #form2 {
  display: none;
}
.rightContainer .paymentContainer #payPalContainer, .rightContainer .paymentContainer #cashContainer {
  display: none;
}
.rightContainer .paymentContainer #payPalContainer p, .rightContainer .paymentContainer #cashContainer p {
  font-size: 1.2rem;
}
.rightContainer .paymentContainer .orderButtonContainer {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding-top: 1.5rem;
  flex-flow: row wrap;
  border-top: 1px solid #084057;
}
.rightContainer .paymentContainer .orderButtonContainer div:first-child {
  min-width: 201px;
}
.rightContainer .paymentContainer .orderButtonContainer div:first-child p {
  color: #073b4d;
  width: 100%;
}
.rightContainer .paymentContainer .orderButtonContainer div {
  min-width: 160px;
}
.rightContainer .paymentContainer .orderButtonContainer div button {
  min-width: 160px;
  max-width: 200px;
}

/*# sourceMappingURL=checkout.css.map */
