@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  background-color: transparent;
  --ff-heading: "Poppins", sans-serif;
  --ff-subHeading: "Sathu", sans-serif;
  font-family: "Arial", serif;
  --fs-heading: clamp(1.5rem, 7vw, 7rem);
  --fs-subHeading: clamp(1rem, 3vw, 4rem);
  --fc-white: white;
  --fc-black: black;
}

@media screen {
  .leftContainer {
    margin: 1rem 0 0 2rem;
  }
  .leftContainer .topContainer {
    width: 320px;
    height: 130px;
  }
  .leftContainer .menuContainer {
    max-width: 350px;
    min-height: 433px;
    max-height: 433px;
  }

  .content {
    width: 100%;
    margin-top: 11rem;
  }
  .content .rightContainer {
    width: 100%;
    min-height: 433px;
    margin-left: 2.5rem;
    padding: 0 5rem;
  }
  .content .adminContainer, .content .userContainer {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1070px) {
  .content .rightUsersContainer .adminContainer {
    padding: 0;
  }
}
@media screen and (max-width: 1034px) {
  .content .rightUsersContainer .userContainer {
    padding: 0;
  }
}
@media screen and (max-width: 1034px) and (max-width: 970px) {
  .content .rightUsersContainer .userContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 848px) {
  .content .rightProductsContainer, .content .rightContainer {
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 780px) {
  .content .rightContainer {
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 780px) and (max-width: 760px) {
  .leftContainer {
    margin-top: 7rem;
  }
  .leftContainer .topContainer, .leftContainer .menuContainer {
    max-width: 285px;
  }

  .content {
    margin-top: 17rem;
  }
  .content .rightContainer {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 780px) and (max-width: 690px) {
  main {
    flex-direction: column;
  }

  .leftContainer {
    min-width: 285px;
    margin-right: 2rem;
  }
  .leftContainer .topContainer {
    max-width: 100%;
  }
  .leftContainer .menuContainer {
    max-width: 100%;
  }

  .content {
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
  }
  .content .rightContainer {
    margin-left: 0;
    padding: 0 5rem;
  }
}
@media screen and (max-width: 780px) and (max-width: 690px) and (max-width: 450px) {
  .content .rightContainer {
    padding: 0 2.5rem;
  }
}
html body main {
  display: flex;
  row-gap: 0.5rem;
}
html body main * {
  list-style: none;
}
html body main .leftContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
html body main .leftContainer .topContainer {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}
html body main .leftContainer .topContainer img {
  cursor: pointer;
  border-radius: 4rem;
  width: 98px;
  height: 98px;
}
html body main .leftContainer .topContainer ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-evenly;
  row-gap: 0.1rem;
  margin: 0 1rem;
  padding: 1rem 0;
  min-width: 150px;
  height: 100%;
}
html body main .leftContainer .topContainer ul:hover:last-child p {
  text-decoration: underline;
}
html body main .leftContainer .topContainer ul h3 {
  font-size: 1.3rem;
}
html body main .leftContainer .topContainer ul p {
  color: gray;
  font-size: 0.85rem;
}
html body main .leftContainer .menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}
html body main .leftContainer .menuContainer ul:not(:last-child) {
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-bottom: 0.5rem;
}
html body main .leftContainer .menuContainer .heading {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  padding: 0 0.2rem 0 0.2rem;
}
html body main .leftContainer .menuContainer .heading:not(:first-child) {
  margin-top: 0.8rem;
}
html body main .leftContainer .menuContainer .heading i {
  color: gray;
  margin-right: 0.4rem;
}
html body main .leftContainer .menuContainer .profileOptions, html body main .leftContainer .menuContainer .shopOptions, html body main .leftContainer .menuContainer .miscOptions {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  padding-top: 0.2rem;
  font-size: 0.9rem;
}
html body main .leftContainer .menuContainer .profileOptions li, html body main .leftContainer .menuContainer .shopOptions li, html body main .leftContainer .menuContainer .miscOptions li {
  cursor: pointer;
  color: gray;
  width: 95%;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
html body main .leftContainer .menuContainer .profileOptions li:hover, html body main .leftContainer .menuContainer .shopOptions li:hover, html body main .leftContainer .menuContainer .miscOptions li:hover {
  background-color: rgba(229, 229, 229, 0.52);
}
html body main .leftContainer .menuContainer .profileOptions li i, html body main .leftContainer .menuContainer .shopOptions li i, html body main .leftContainer .menuContainer .miscOptions li i {
  width: 15px;
  margin-right: 1rem;
}
html body main .leftContainer .menuContainer .profileOptions li #bookMarkIcon, html body main .leftContainer .menuContainer .shopOptions li #bookMarkIcon, html body main .leftContainer .menuContainer .miscOptions li #bookMarkIcon {
  padding-left: 2px;
}
html body main .content {
  display: flex;
}
html body main .content #deleteHeading {
  color: #d50303;
}
html body main .content .profileChangeHeading {
  padding-bottom: 1rem;
  margin-bottom: 1.7rem;
  width: 100%;
  border-bottom: 1px solid rgb(201, 201, 201);
}
html body main .content .rightDataContainer ul {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}
html body main .content .rightDataContainer ul li {
  display: flex;
}
html body main .content .rightDataContainer ul li :first-child:not(span, i) {
  font-size: 1.2rem;
}
html body main .content .rightDataContainer ul p {
  width: 50%;
}
html body main .content .rightDataContainer ul span {
  visibility: hidden;
  float: right;
  cursor: pointer;
  padding: 0.1rem 0.4rem;
}
html body main .content .rightInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.3rem;
}
html body main .content .rightInputContainer .deleteItemsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem;
  max-width: fit-content;
}
html body main .content .rightInputContainer .deleteItemsContainer button {
  width: fit-content;
  padding: 0.6rem 1rem;
  background-color: darkred;
  color: #d3d2d2;
}
html body main .content .rightInputContainer .deleteItemsContainer button:hover {
  background-color: #700303;
}
html body main .content .rightInputContainer .userSettingValue {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
  min-width: 200px;
  width: 40%;
  row-gap: 0.8rem;
}
html body main .content .rightInputContainer .userSettingValue p:first-child {
  font-size: 1.1rem;
}
html body main .content .rightInputContainer .inputFields {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem 0 1rem 1rem;
  min-width: 230px;
  max-width: 40%;
  height: fit-content;
}
html body main .content .rightInputContainer .inputFields #secondPar {
  margin-top: 1rem;
}
html body main .content .rightInputContainer .inputFields p {
  font-size: 1.1rem;
}
html body main .content .rightInputContainer .inputFields input {
  padding: 0.2rem;
}
html body main .content .rightInputContainer button {
  cursor: pointer;
  align-self: center;
  border: none;
  background-color: #124f73;
  color: #c5ebf6;
  border-radius: 1.5rem;
  width: 100px;
  padding: 0.4rem 0.2rem;
  font-size: 1.1rem;
  transition: 0.3s;
}
html body main .content .rightInputContainer button:hover {
  transform: scale(1.05);
  background-color: #084057;
}
html body main .content .rightImgContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  row-gap: 2rem;
}
html body main .content .rightImgContainer .currentImg {
  position: relative;
  display: flex;
  padding-left: 1.5rem;
}
html body main .content .rightImgContainer .currentImg img {
  width: 180px;
  height: 180px;
}
html body main .content .rightImgContainer .currentImg p {
  font-size: 1.1rem;
  width: 30%;
  margin-top: 2rem;
  padding: 1.5rem;
}
html body main .content .rightImgContainer .currentImg .editIconContainer {
  position: absolute;
  left: 0;
  bottom: -0.2rem;
}
html body main .content .rightImgContainer .currentImg .editIconContainer i {
  font-size: 1.5rem;
  color: #7a7a7a;
  margin-left: 0.4rem;
  margin-bottom: -0.9rem;
  padding: 0.5rem 0.7rem;
  transition-duration: 0.2s;
}
html body main .content .rightImgContainer .currentImg .editIconContainer i:hover {
  color: #5e5e5e;
}
html body main .content .rightImgContainer .currentImg .editIconContainer .bubble {
  position: absolute;
  display: none;
  column-gap: 0.5rem;
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  font-size: 0.9rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
html body main .content .rightImgContainer .currentImg .editIconContainer .bubble:after {
  background-color: #F2F2F2;
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  content: " ";
  width: 15px;
  height: 15px;
  left: 20px;
  position: absolute;
  top: -5px;
  transform: rotate(135deg);
}
html body main .content .rightImgContainer .currentImg .editIconContainer .bubble input {
  display: none;
}
html body main .content .rightImgContainer .currentImg .editIconContainer .bubble a {
  z-index: 2;
  cursor: pointer;
  width: max-content;
  padding: 0.6rem;
  border-radius: 0.3rem;
  transition-duration: 0.2s;
}
html body main .content .rightImgContainer .currentImg .editIconContainer .bubble a:hover {
  background-color: #0d506c;
  color: #c1e3f3;
}
html body main .content .rightImgContainer .terrainImgContainer, html body main .content .rightImgContainer .wheelchairImgContainer {
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: -2px 3px 4px -1px rgba(50, 50, 50, 0.3);
}
html body main .content .rightImgContainer .terrainImgContainer img, html body main .content .rightImgContainer .wheelchairImgContainer img {
  cursor: pointer;
  width: 150px;
  height: 150px;
}
html body main .content .rightImgContainer .terrainImgContainer h3, html body main .content .rightImgContainer .wheelchairImgContainer h3 {
  width: 200px;
  padding: 1rem;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 4px -4px rgba(50, 50, 50, 0.3), 0 -2px 2px -1px rgba(50, 50, 50, 0.3);
}
html body main .content .rightImgContainer .terrainImgContainer div, html body main .content .rightImgContainer .wheelchairImgContainer div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
html body main .content .rightUsersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  row-gap: 60px;
}
html body main .content .rightUsersContainer img {
  border-radius: 6rem;
  width: 150px;
  height: 150px;
}
html body main .content .rightUsersContainer .adminContainer, html body main .content .rightUsersContainer .userContainer {
  display: flex;
  flex-flow: row wrap;
  column-gap: 60px;
  row-gap: 50px;
}
html body main .content .rightUsersContainer .adminContainer .user, html body main .content .rightUsersContainer .userContainer .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
}
html body main .content .rightUsersContainer .adminContainer .user ul, html body main .content .rightUsersContainer .userContainer .user ul {
  border-radius: 1.5rem;
  padding: 0.8rem 1.4rem;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}
html body main .content .rightUsersContainer .adminContainer .user ul li, html body main .content .rightUsersContainer .userContainer .user ul li {
  overflow-x: hidden;
  line-height: 1.5rem;
}
html body main .content .rightUsersContainer .adminContainer .currentUser ul, html body main .content .rightUsersContainer .userContainer .currentUser ul {
  box-shadow: 0 2px 5px 1px rgba(178, 128, 18, 0.9);
}
html body main .content .rightUsersContainer .adminContainer {
  column-gap: 60px;
  justify-content: space-evenly;
}
html body main .content .rightUsersContainer .adminContainer img {
  width: 200px;
  height: 200px;
}
html body main .content .rightUsersContainer .adminContainer ul {
  width: 240px;
}
html body main .content .rightUsersContainer .userContainer {
  column-gap: 75px;
}
html body main .content .rightUsersContainer .userContainer ul {
  width: 220px;
}
html body main .content .saves article {
  cursor: pointer;
}
html body main .content .rightProductsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}
html body main .content .rightProductsContainer ul {
  padding: 1rem 0 1rem 1rem;
}
html body main .content .rightProductsContainer ul li p {
  min-width: 6rem;
  max-height: 23.7px;
}
html body main .content .rightProductsContainer article {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
html body main .content .rightProductsContainer article img {
  width: 120px;
}
html body main .content .rightProductsContainer article .wheelchairInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.3rem;
}
html body main .content .rightProductsContainer article .wheelchairInfo h3 {
  font-size: 1.3rem;
}
html body main .content .rightProductsContainer article .wheelchairInfo :nth-child(even) {
  margin-top: 0.6rem;
  font-size: 1.1rem;
}
html body main .content .rightProductsContainer .noSavesMessage {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  font-size: 1.1rem;
}
html body main .content .rightProductsContainer .noSavesMessage :first-child {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
html body main .content .rightProductsContainer .noSavesMessage a {
  color: black;
  width: fit-content;
}

/*# sourceMappingURL=profile.css.map */
