@media screen {

  .newsletterLabelContainer, .orderButtonContainer {

    justify-content: space-between;

  }

  .orderButtonContainer {

    div:first-child {

      text-align: left;
    }

    div {
     text-align: center;
      max-width: 40%;
    }
  }

  .itemContainer {

    column-gap: 3rem;
    padding: 0 4rem;

    .wheelchairInfo {

      width: 40%;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .rightContainer {
      width: 60%;

      .firstForm, .secondForm {

        max-width: 900px;
      }
    }
  }
}

@media screen and (max-width: 1130px) {

  .itemContainer {

    column-gap: 1rem;

    .wheelchairInfo {

      h2 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 1080px) {

  .itemContainer {

    padding: 0 2rem;
  }
}

@media screen and (max-width: 1000px) {

  .itemContainer {

    flex-direction: column;
    align-items: center;

    .wheelchairInfo {
      width: 100%;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .rightContainer {
      align-items: center;
      width: 100%;
      row-gap: 3rem;

      .firstForm, .secondForm {

        margin: 0;
        max-width: 640px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 574px) {

  .newsletterLabelContainer {

    justify-content: center;
  }
}

@media screen and (max-width: 514px) {

  .orderButtonContainer {

    justify-content: center;

    div:first-child {

      text-align: center;
    }

    div {
      max-width: 100%;
    }
  }

  .itemContainer {

    .wheelchairInfo {

      h2 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
}

body {
  display: flex;
  justify-content: center;
}

.itemContainer {

  display: flex;
  width: 100%;
  margin-top: 6rem;
  row-gap: 2rem;
}

.wheelchairInfo {

  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  max-width: 640px;
  max-height: 680px;
  row-gap: 2rem;
  margin-top: 1rem;
  padding: 2.5rem 1rem;

  border-radius: 2rem;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

  img {
    min-width: 300px;
    max-width: 450px;

    width: 100%;
  }

  h2, p {
    align-self: start;
    margin-left: 2rem;
  }
}

.rightContainer {

  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  .firstForm, .secondForm {

    display: flex;
    flex-direction: column;

    border: 1px solid rgba(7, 59, 77, 0.4);
    border-radius: 1rem;

    row-gap: 1.5rem;
    margin: 2rem 0 2rem 2rem;

    .shippingSummaryContainer {

      flex-direction: column;
      row-gap: .2rem;
      padding: 0 2rem 1.5rem 2rem;

      p {
        font-size: 1.1rem;
      }
    }

    h1 {
      border-radius: 1rem;
      background-color: rgba(220, 230, 234, 0.5); //#073b4d

      padding: 1rem;

      &::after {
        font-family: FontAwesome, serif;
        content: attr(data-after); //"\f00c";
        float: right;
      }

      .editFormSpan {
        cursor: pointer;
        margin-left: 2rem;
        font-size: 1.2rem;

        i {
          margin-left: .3rem;
          font-size: 1rem;
        }
      }
    }
  }

  button {
    cursor: pointer;
    border: none;
    white-space: nowrap;

    font-size: 1.2rem;
    padding: .8rem 1.2rem;
    border-radius: 1.5rem;

    background-color: #0d506c;
    color: #d2e4ee;
    transition-duration: .2s;

    &:hover {

      background-color: #073b4d;
      transform: scale(1.06);
    }
  }

  .checkBox {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }

  .shippingContainer, .paymentContainer {

    display: flex;
    flex-direction: column;

    padding: 0 2rem 1.5rem 2rem;
    row-gap: 2rem;

    div {

      label {
        cursor: pointer;
        font-size: 1.2rem;
        padding: .5rem .5rem .5rem 0;
      }

    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      margin-bottom: -1rem;

      li {

        display: flex;
        column-gap: 1rem;

        input:not(.checkBox), select {
          background-color: white;
          width: 100%;
          border-radius: 1rem;
          padding: .8rem;
          font-size: 1.1rem;
        }

        select {
          cursor: pointer;
          appearance: none;
          background-image: url("/randomPictures/downArrow.png");
          background-position: right;
          background-repeat: no-repeat;
          background-size: 1rem;
          background-position-x: 96%;
        }
      }
    }
  }

  .newsletterLabelContainer {

    display: flex;
    align-items: center;
    flex-flow: row wrap;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding-top: 1.5rem;

    border-top: 1px solid #084057;

    label {
      width: 100%;
      color: #073b4d;
    }

    div:first-child {
      text-align: left;
      column-gap: 0;
      min-width: 201px;
    }

    div {

      text-align: center;
      width: 40%;
      min-width: 220px;

      button {

        min-width: 220px;
        max-width: 220px;
      }
    }
  }

  .paymentContainer {
    .paymentMethods {

      flex-flow: row wrap;
      column-gap: 1rem;
      row-gap: 1rem;
      width: 100%;

      li {

        min-width: 120px;
        max-width: 180px;
        width: 100%;

        div {
          display: flex;
          align-items: center;

          label {
            padding-left: .5rem;
          }
        }
      }
    }

    #form2 {
      display: none;
    }

    #payPalContainer, #cashContainer {
      display: none;

      p {
        font-size: 1.2rem;
      }
    }

    .orderButtonContainer {
      display: flex;
      align-items: center;
      column-gap: 1.5rem;
      row-gap: 1.5rem;
      padding-top: 1.5rem;
      flex-flow: row wrap;

      border-top: 1px solid #084057;

      div:first-child {
        min-width: 201px;

        p {
          color: #073b4d;
          width: 100%;
        }
      }

      div {
        min-width: 160px;

        button {

          min-width: 160px;
          max-width: 200px;
        }
      }
    }
  }
}