@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");


$media: (
        sm: 640px, md: 768px,
        lg: 1024px, xl: 1280px,
        2 xl: 1536px, 3 xl: 1920px,
);

@mixin md($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

@mixin shadow($type) {
  @if ($type == "outside") {
    // offset-x | offset-y | blur-radius | spread-radius | color
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

  } @else if ($type == "none") {
    box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.3);
  } @else {
    box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  }
}


@mixin paddingContent {
  padding: 1rem 2rem;
}

$mainColor: #fff;
$secondaryColor: #0a4a65;
$tertiaryColor: #c1e3f3;
$textFontSize: 18px;


.aboutArticles {
  @media screen and (min-width: 640px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 6rem;
    column-gap: 1rem;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  body {
    font-family: var(--ff-body);

    height: 100%;
    width: 100%;

    header {
      display: flex;

      transition: .6s;
      -moz-transition: .6s;
      -webkit-transition: .6s;
      -o-transition: .6s;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      object-fit: cover;
      aspect-ratio: 16 / 9;

      .slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include paddingContent;
        color: $secondaryColor;
        width: 100%;

        h2 {
          font-family: var(--ff-heading);
          font-size: var(--fs-heading);
          color: var(--fc-white);
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }

        p {
          font-family: var(--ff-subHeading);
          font-size: var(--fs-subHeading);
          color: var(--fc-white);
        }
      }
    }
  }

  main {

    .topProducts {

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      @media screen and (max-width: 660px) {
        justify-content: space-between;
      }

      display: flex;
      justify-content: space-evenly;
      overflow-y: hidden;
      padding: 6rem 4rem;
      column-gap: 4rem;

      &:first-child {
        padding-left: 4rem;
      }

      &:last-child {
        padding-right: 4rem;
      }

      background-color: white;

      @include shadow(inside);

      .articleContainer1, .articleContainer2 {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        min-width: 340px;
        height: 400px;

      }
    }

    .about {
      @include paddingContent;
      background-color: $tertiaryColor;

      .aboutArticles {

        article {
          color: white;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          object-fit: cover;
          min-width: 250px;
          min-height: 300px;
          max-width: 250px;
          max-height: 300px;
          border-radius: 1.75rem;

          @include shadow(outside);
          text-shadow: 0 0 10px #000;

          transition-duration: .8s;

          &:hover {

            transform: scale(1.11);

            ul li:first-child {
              animation-name: quoteMoveUp;
            }
            ul .messageAbout {
              display: block;
              animation-name: messageAppear;

            }
          }
          &:not(:hover) {
            ul li:first-child {
              animation-name: quoteMoveDown;
            }
          }

          ul {
            border-radius: 1.75rem;
            position: relative;
            display: flex;
            flex-direction: column;
            background-size: cover;
            height: 100%;
            //padding: 1rem 0;
            //margin: 1rem 0;
            text-align: center;
            list-style: none;

            li:first-child {

              animation-duration: .8s;
              animation-fill-mode: both;
              font-weight: bold;
              font-size: 1.1rem;
              margin-top: 15rem;
            }

            .author {
              margin-top: .5rem;
              font-size: 15px;
            }

            .messageAbout {
              border-radius: 2rem;
              background-color: rgba(0, 0, 0, 0.3);
              margin-top: 11.9rem;
              padding: .5rem 2rem;

            }
            .messageAbout {
              animation-duration: 1.4s;
              animation-fill-mode: both;
              display: none;
            }
          }
        }
      }
    }
  }
}

@keyframes messageAppear {

  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes quoteMoveUp {

  from {
    margin-top: 15rem;
  }
  to {
    margin-top: .5rem;
  }
}
@keyframes quoteMoveDown {

  from {
    margin-top: .5rem;
    transform: rotate3d(1, 1, 1, 0);
  }
  to {
    margin-top: 15rem;
    transform: rotate3d(1, 1, 1, 360deg);
  }
}


.glow-on-hover {

  border: none;
  outline: none;

}

.glow-on-hover:before {

  z-index: -1;
  content: '';
  background: linear-gradient(45deg, #0A4A65FF, #C1E3F3FF, #ffffff, #084057, #3CB371FF, #084057, #ffffff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  border-radius: 2rem;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {

  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  left: 0;
  top: 0;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}