*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  background-color: transparent;

  --ff-heading: "Poppins", sans-serif;
  --ff-subHeading: "Sathu", sans-serif;
  --ff-body: "Arial", serif;

  --fs-heading: clamp(1.5rem, 7vw, 7rem);
  --fs-subHeading: clamp(1rem, 3vw, 4rem);

  --fc-white: white;
  --fc-black: black;
}

$mainColor: #ffffff;
$secondaryColor: #0a4a65;
$tertiaryColor: #c1e3f3;

html {
  body {
    main {
      form {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
