@media screen {

  .itemContainer {

    justify-content: space-evenly;

    .productImage {

      min-width: 320px;
      max-width: 30%;
    }

    .productInfo {

      min-width: 280px;
      max-width: 30%;
    }

    .productInfoEdit {

      justify-content: space-evenly;
      min-width: 280px;
      width: 60%;
    }

    .productSelection {

      border-left: 2px solid #084057;
      min-width: 280px;
      max-width: 30%;
    }
  }

  .firstRow, .secondRow {

    flex-direction: row;
    padding-bottom: 25px;
  }

  .leftContainer, .rightContainer {

    width: 50%;
    margin-right: 20px;
    padding: 20px;
  }

  .rightContainer {

    margin-right: 0;
    margin-left: 20px;
  }
}

@media screen and (max-width: 850px) {

  .firstRow, .secondRow {

    flex-direction: column;

    padding-bottom: 0;

  }

  .leftContainer, .rightContainer {

    padding: 20px 0 20px 0;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 965px) {

  .itemContainer {

    .productImage {

      min-width: 320px;
      max-width: 45%;
    }

    .productInfo {
      max-width: 45%;

    }

    .productSelection {
      border: none;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 675px) {

    .itemContainer {

      .productImage {

        min-width: 320px;
        max-width: 70%;
      }

      .productInfo {
        min-width: 220px;
        max-width: 45%;

      }

      .productSelection {
        border-left: 2px solid #084057;
        min-width: 220px;
        max-width: 50%;
      }
    }

    @media screen and (max-width: 523px) {

      .itemContainer {

        .productImage {

          min-width: 220px;
          width: 100%;
        }

        .productInfo {
          min-width: 220px;
          width: 100%;
        }

        .productSelection {
          border: none;
          min-width: 220px;
          width: 100%;
        }
      }
    }
  }
}

.itemContainer {

  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.6);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 0.5rem;
  margin: 120px 2rem 10px 2rem;

  .productImage {
    text-align: center;

    margin-top: 30px;

    img {
      max-width: 500px;
      width: 100%;
    }
  }

  .productInfo, .productInfoEdit {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    * {
      padding: 1rem;
    }

    #productName {
      font-size: 32px;
    }

    #manufacturerName {
      font-size: 1.5rem;

    }

    #shortDescription {
      font-size: 1.1rem;

    }

    .productPrice {

      color: #084057;
      font-size: 190%;
    }

    textarea, input {
      font-family: Arial, serif;
      scrollbar-width: none;
      border: none;
      resize: none;

    }
    textarea {
      min-height: 80px;
    }

    #errorMessage {
      color: red;
      display: none;
      margin-top: -1rem;
      padding: 0 0 1rem 1rem;
    }
  }

  .productSelection {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;

    row-gap: 1.5rem;
    margin: 1rem 0;

    .priceInfo {

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .productPrice {

        padding: 0 1rem 0 1rem;
        color: #084057;
        font-size: 190%;
      }

      i {
        cursor: pointer;
        font-size: 160%;
        padding-right: 1rem;
        transition-duration: .3s;

      }
    }

    .additionalInformation, .quantity, .buttons {

      display: flex;
      width: 100%;
    }

    .additionalInformation {
      flex-direction: column;
      row-gap: 1rem;

      p {
        font-size: 1rem;
        padding: 0 1rem;
      }

      #available {
        color: green;
        font-weight: bold;

        margin-top: 0.5rem;
      }
    }

    .buttons {
      width: 100%;
      flex-direction: column;
      align-items: center;

      row-gap: 1rem;

      #purchaseButton {
        cursor: pointer;

        box-shadow: 0 0 1px 0 rgba(8, 64, 87, 0.5);
        background-color: #cde6f8;
        color: #084057;

        border: none;
        width: 50%;
        min-width: 150px;
        max-width: 200px;

        padding: 10px;
        border-radius: 1.5rem;
        font-size: 120%;

        transition: .3s;

      }

    }

    #returnProduct {

      padding: 0.5rem 1rem 1rem 1rem;
    }
  }
}

.infoButtons {

  margin-top: 40px;
  margin-bottom: 20px;

  ul {
    display: flex;
    width: fit-content;

    margin: 10px 30px;
    font-size: 22px;

    :first-child {
      margin-right: 5px;
      margin-left: 0;
    }

    li {
      display: flex;

      margin-left: 5px;

    }

    #technicalInformationLabel, #productDescriptionLabel {
      cursor: pointer;

      border-radius: 1.5rem;
      transition: background-color .3s;
      min-width: fit-content;
      background-color: #084057;
      color: #c1e3f3;
      padding: 25px;
      box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

    }

    input {
      display: none;
    }
  }
}

.technicalInfoContainer, .productDescriptionContainer {

  display: none;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  border-radius: 1rem;
  padding: 30px;
  margin: 0 2rem 0 2rem;

  table {

    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 20px;

    tr {

      th {
        border-bottom: 3px solid #f2f2f2;
        padding: 20px;
        width: 30%;

      }

      td {
        border-bottom: 3px solid #f2f2f2;
        padding: 20px;
        text-align: center;

      }

      &:last-child {

        th, td {
          border: none;
        }
      }
    }
  }
}

.productDescriptionContainer {

  .firstRow, .secondRow {
    display: flex;

  }

  .sectionHeading {

    font-weight: normal;
    font-size: 32px;
    margin-bottom: 25px;
  }

  .sectionText {

    font-size: 20px;
    line-height: 32px;
  }
}

.applyButtonContainer {

  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: .5rem;
  margin: 3rem 4rem 3rem 0;

  #saveChangesButton, #resetChangesButton {

    cursor: pointer;
    border: none;

    box-shadow: 0 0 1px 0 rgba(8, 64, 87, 0.5);
    background-color: #cde6f8;
    color: #084057;

    width: 50%;
    min-width: 150px;
    max-width: 200px;

    padding: 10px;
    border-radius: 1.5rem;
    font-size: 120%;

    transition: .3s;

    &:hover {

      background-color: #084057;
      color: #c1e3f3;
    }
  }

  #saveChangesButton {

    background-color: seagreen;
    color: #c1e3f3;

    &:hover {

      background-color: #165232;
      color: #c1e3f3;
    }
  }
}

.relatedProducts {

  box-shadow: 0 0 4px 1px rgba(50, 50, 50, 0.6);

  //border-radius: 1rem;

  //margin: 2rem;
  padding: 1.5rem 1rem;

  margin-top: 6rem;
  margin-bottom: 6rem;

  .moreProductsHeading {

    margin-top: 1rem;
    margin-left: 3rem;

    #moreProductsHeading {

      width: fit-content;
      color: #073b4d;
      font-size: 1.8rem;
      padding: 1.2rem 2rem 1.2rem 1rem;
      margin: 0.5rem 0 1.5rem 0;

      border-radius: 1rem;
      //border-left: 3px solid #084057;
      //border-bottom: 2px solid #084057;

      box-shadow: inset 1px -2px 2px 0 rgba(50, 50, 50, 0.3);

    }
  }


  .articles {
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: hidden;

    padding: 4rem 2rem 2rem 4rem;
    column-gap: 5rem;
    row-gap: 6rem;

    &::-webkit-scrollbar {
      display: none;
    }

    &:first-child {
      padding-left: 4rem;
    }

    &:last-child {
      padding-right: 4rem;
    }

    background-color: white;

    article {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      object-fit: cover;
      display: inline-block;
      flex-direction: row;

      min-width: 250px;
      min-height: 300px;
      max-width: 250px;
      max-height: 300px;

      background-color: #eee;
      border-radius: 1.75rem;

      box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

      img {
        position: relative;
        left: -25%;
        top: -20%;
        width: 45%;
      }

      ul {
        position: relative;
        top: -140px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 100%;
        height: 100%;
        padding: 1rem 0;
        margin: 1rem 0;
        text-align: center;
        list-style: none;

        li {
          display: block;

          &:first-child p {
            font-family: var(--ff-heading);
            font-weight: bold;
            font-size: 1.5rem;
          }

          &:nth-child(2) p {
            font-family: var(--ff-body);
            font-weight: lighter;
            font-size: 1rem;
          }

          button {
            font-family: var(--ff-body);
            font-weight: bold;
            cursor: pointer;

            font-size: 1rem;

            padding: 1rem;
            border-style: none;
            background-color: #71a4c2;
            color: white;
            border-radius: 1.75rem;
            transition-duration: 400ms;

            &:active, &:hover {
              border-radius: 1.75rem;

              background-color: #084057;
              color: white;
              //@include shadow(outside);

              padding: 1rem 2rem;
            }
          }
        }
      }
    }
  }
}

footer {

  display: flex;
  align-items: center;

  box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.2);
  color: #c1e3f3;
  background-color: #0A4A65FF;

  padding: 1rem 2rem;
  min-height: 120px;
  max-height: 120px;

  * {
    color: var(--fc-black);
    text-decoration: none;
    line-height: 1.5rem;
  }

}