*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  scroll-behavior: smooth;
  background-color: transparent;

  --ff-heading: "Poppins", sans-serif;
  --ff-subHeading: "Sathu", sans-serif;
  font-family: "Arial", serif;

  --fs-heading: clamp(1.5rem, 7vw, 7rem);
  --fs-subHeading: clamp(1rem, 3vw, 4rem);

  --fc-white: white;
  --fc-black: black;
}


@mixin shadow($type) {
  @if ($type == "outside") {
    // offset-x | offset-y | blur-radius | spread-radius | color
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

  } @else if ($type == "none") {
    box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.3);
  } @else {
    box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  }
}

$mainColor: #fff;
$secondaryColor: #0a4a65;
$tertiaryColor: #c1e3f3;

$textFontSize: 18px;


html {
  body {
    main {

      display: flex;
      flex-direction: column;

      row-gap: .5rem;
      padding: 1rem 2rem;

      * {
        list-style: none;
      }

      .leftContainer {

        position: fixed;
        display: flex;
        flex-direction: column;

        row-gap: 2rem;

        .topContainer {

          display: flex;
          align-items: center;

          width: 320px;
          max-width: 350px;
          height: 130px;

          background-color: white;
          padding: 1rem;
          border-radius: 2rem;
          @include shadow(outside);


          img {
            border-radius: 4rem;
            height: 100%;
          }

          ul {

            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content: space-evenly;
            row-gap: .1rem;

            padding: 1rem;
            min-width: 150px;
            height: 100%;

            h3 {
              font-size: 1.3rem;
            }

            p {
              color: gray;
              font-size: .85rem;
            }
          }
        }

        .menuContainer {

          display: flex;
          flex-direction: column;
          justify-content: center;

          min-width: 320px;
          max-width: 320px;
          min-height: 433px;
          max-height: 433px;

          padding: 1rem;

          @include shadow(outside);

          ul:not(:last-child) {
            border-bottom: 1px solid rgb(201, 201, 201);
            padding-bottom: .5rem;
          }

          .heading {

            margin-bottom: .5rem;
            font-size: 1.1rem;
            padding: 0 .2rem 0 .2rem;

            &:not(:first-child) {
              margin-top: .8rem;
            }


            i {
              color: gray;
              margin-right: .4rem;
            }

          }

          .profileOptions, .shopOptions, .miscOptions {

            display: flex;
            flex-direction: column;
            row-gap: .2rem;
            padding-top: .2rem;

            font-size: .9rem;

            li {
              cursor: pointer;
              color: gray;
              width: 95%;
              padding: .3rem;
              border-radius: .5rem;

              &:hover {
                background-color: rgba(229, 229, 229, 0.52);
              }

              i {
                width: 15px;
                margin-right: 1rem;
              }

              #bookMarkIcon {

                padding-left: 2px;
              }
            }
          }
        }
      }

      .content {

        display: flex;

        margin-top: 9.5rem;
        margin-left: 320px;


        #deleteHeading {
          color: #d50303;
        }

        .rightInputContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          //align-items: start;

          width: 100%;
          min-height: 433px;

          padding: 0 5rem;

          margin-left: 2rem;
          row-gap: .3rem;

          //@include shadow(inside);

          .profileChangeHeading {

            padding-bottom: 1rem;

            margin-bottom: 1.7rem;
            width: 100%;
            border-bottom: 1px solid rgb(201, 201, 201);
          }

          .deleteItemsContainer {

            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            padding: 1rem;
            max-width: fit-content;

            button {
              width: fit-content;
              padding: .6rem 1rem;

              background-color: darkred;
              color: #d3d2d2;

              &:hover {
                background-color: #700303;
              }
            }
          }

          .userSettingValue {

            display: flex;
            flex-direction: column;
            padding: 1rem;
            min-width: 400px;
            max-width: 40%;
            row-gap: .8rem;


            p:first-child {
              //text-decoration: underline;
              font-size: 1.1rem;
            }
          }

          .inputFields {

            display: flex;
            flex-direction: column;

            row-gap: 1rem;
            padding: 1rem;
            min-width: 400px;
            max-width: 40%;
            height: fit-content;

            #secondPar {
              margin-top: 1rem;
            }

            p {
              font-size: 1.1rem;
            }

            input {

              padding: .2rem;
            }
          }

          button {
            cursor: pointer;
            align-self: center;
            border: none;

            background-color: #124f73;
            color: #c5ebf6;
            border-radius: 1.5rem;

            width: 100px;
            padding: .4rem .2rem;

            font-size: 1.1rem;
            transition: .3s;

            &:hover {
              transform: scale(1.05);
              background-color: #084057;

            }
          }
        }

        .rightImgContainer {

          display: flex;
          flex-direction: column;

          width: 100%;
          margin-left: 2rem;
          padding: 2rem;
          row-gap: 2rem;

          //@include shadow(inside);

          .currentImg {

            display: flex;
            padding-left: 1.5rem;

            img {
              width: 180px;
            }

            p {
              font-size: 1.1rem;

              width: 30%;
              margin-top: 2rem;
              padding: 1.5rem;
            }
          }

          .terrainImgContainer, .wheelchairImgContainer {

            border-radius: 1rem;

            padding: 1.5rem;
            box-shadow: -2px 3px 4px -1px rgba(50, 50, 50, 0.3);

            img {
              cursor: pointer;
              width: 150px;
            }

            h3 {
              width: 200px;
              padding: 1rem;
              margin-left: -1.5rem;
              margin-top: -1.5rem;
              border-radius: 1rem;

              box-shadow: 0 0 4px -4px rgba(50, 50, 50, 0.3),
              0 -2px 2px -1px rgba(50, 50, 50, 0.3);
            }

            div {

              display: flex;
              flex-wrap: wrap;
              column-gap: 30px;
              row-gap: 30px;

            }
          }
        }

        .rightUsersContainer {

          display: flex;
          flex-direction: column;

          row-gap: 60px;

          width: 100%;
          margin-left: 2rem;
          padding: 2rem;

          //@include shadow(inside);

          img {
            border-radius: 6rem;
            max-width: 150px;
          }

          .adminContainer, .userContainer {

            display: flex;
            flex-flow: row wrap;

            column-gap: 60px;
            row-gap: 50px;

            .user {
              display: flex;
              flex-direction: column;
              align-items: center;

              row-gap: .8rem;

              ul {
                border-radius: 1.5rem;
                padding: .8rem 1.4rem;

                @include shadow(outside);

                li {
                  overflow-x: hidden;
                  line-height: 1.5rem;
                }
              }
            }

            .currentUser {

              ul {
                box-shadow: 0 2px 5px 1px rgba(178, 128, 18, .9);
              }
            }
          }

          .adminContainer {

            column-gap: 60px;
            justify-content: space-evenly;

            img {
              max-width: 200px;
            }

            ul {
              width: 240px;
            }
          }

          .userContainer {

            column-gap: 75px;
            padding: 0 2rem;

            ul {
              width: 220px;
            }
          }
        }
      }
    }
  }
}
