:root {
  scroll-behavior: smooth;
  background-color: transparent;
  font-family: Arial, serif;
}

html body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html body header {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 16/9;
}
html body header .slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  color: #0a4a65;
  width: 100%;
}
html body header .slogan h2 {
  font-family: Tahoma, sans-serif;
}
html body header .slogan p {
  font-family: Sathu, sans-serif;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  html body header * {
    transition-duration: 500ms;
  }
  html body header .slogan h2 {
    font-size: 2rem;
  }
  html body header .slogan p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  html body header * {
    transition-duration: 500ms;
  }
  html body header .slogan h2 {
    font-size: 2.5rem;
  }
  html body header .slogan p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  html body header * {
    transition-duration: 500ms;
  }
  html body header .slogan h2 {
    font-size: 3rem;
  }
  html body header .slogan p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1536px) {
  html body header * {
    transition-duration: 500ms;
  }
  html body header .slogan h2 {
    font-size: 3.5rem;
  }
  html body header .slogan p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1920px) {
  html body header * {
    transition-duration: 500ms;
  }
  html body header .slogan h2 {
    font-size: 4rem;
  }
  html body header .slogan p {
    font-size: 3rem;
  }
}
html body nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}
html body nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
}
html body nav ul li {
  border-radius: 3rem;
  padding: 1rem 1rem;
  margin-right: 1rem;
  transition-duration: 400ms;
}
html body nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(3, 51, 70);
}
html body nav ul li:active, html body nav ul li:hover {
  background-color: #0a4a65;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  padding: 1rem 1.5rem;
  transition-duration: 400ms;
}
html body nav ul li:active a, html body nav ul li:hover a {
  color: #c1e3f3;
}
html body main .topProducts {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  display: flex;
  overflow-y: hidden;
  padding: 6rem 2rem;
  column-gap: 2rem;
  aspect-ratio: 100/25;
  background-color: #c1e3f3;
  box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}
html body main .topProducts::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
html body main .topProducts div {
  aspect-ratio: 20/25;
}
html body main .topProducts div img {
  z-index: 5;
  position: relative;
  top: 50%;
}
html body main .topProducts div article {
  position: relative;
  aspect-ratio: 20/25;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #eee;
  border-radius: 1.5rem;
  box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}
html body main .about {
  padding: 1rem 2rem;
}
html body main .contact {
  padding: 1rem 2rem;
}
html body footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: #c1e3f3;
  background-color: #0a4a65;
  padding: 1rem 2rem;
  aspect-ratio: 100/10;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}
html body footer aside {
  display: block;
  align-self: center;
  text-align: right;
}
html body footer address {
  display: block;
  align-self: center;
  text-align: left;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

footer a {
  color: #c1e3f3;
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
