$mainColor: #ffffff;
$secondaryColor: #0a4a65;
$tertiaryColor: #c1e3f3;

$textFontSize: 20px;


$media: (
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        2 xl: 1536px,
        3 xl: 1920px,
);

@mixin md($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}


@mixin paddingContent {
  padding: 1rem 2rem;
}

@mixin shadow($type) {
  @if ($type == "outside") {
    // offset-x | offset-y | blur-radius | spread-radius | color
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  } @else {
    box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);
  }
}


:root {
  scroll-behavior: smooth;
  background-color: transparent;
  font-family: Arial, serif;
}


html {
  body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    header {
      display: flex;

      background-repeat: no-repeat;
      background-size: contain;
      aspect-ratio: 16 / 9;

      .slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include paddingContent;
        color: $secondaryColor;
        width: 100%;


        h2 {
          font-family: Tahoma, sans-serif;
        }

        p {
          font-family: Sathu, sans-serif;
          font-style: italic;
        }
      }

      @include md(md) {
        * {
          transition-duration: 500ms;
        }
        .slogan h2 {
          font-size: 2.0rem;
        }
        .slogan p {
          font-size: 1.0rem;
        }
      }

      @include md(lg) {
        * {
          transition-duration: 500ms;
        }
        .slogan h2 {
          font-size: 2.5rem;
        }
        .slogan p {
          font-size: 1.5rem;
        }
      }

      @include md(xl) {
        * {
          transition-duration: 500ms;
        }
        .slogan h2 {
          font-size: 3.0rem;
        }
        .slogan p {
          font-size: 2.0rem;
        }
      }

      @include md(2 xl) {
        * {
          transition-duration: 500ms;
        }
        .slogan h2 {
          font-size: 3.5rem;
        }
        .slogan p {
          font-size: 2.5rem;
        }
      }

      @include md(3 xl) {
        * {
          transition-duration: 500ms;
        }
        .slogan h2 {
          font-size: 4.0rem;
        }
        .slogan p {
          font-size: 3.0rem;
        }
      }
    }

    nav {
      position: fixed;
      z-index: 999;
      width: 100%;
      top: 0;

      ul {
        display: flex;
        justify-content: right;
        list-style: none;

        li {
          border-radius: 3rem;
          padding: 1rem 1rem;
          margin-right: 1rem;

          transition-duration: 400ms;

          a {
            font-size: $textFontSize;
            text-decoration: none;
            color: rgb(3, 51, 70);
          }

          &:active, &:hover {
            background-color: $secondaryColor;
            @include shadow(outside);

            padding: 1rem 1.5rem;
            transition-duration: 400ms;

            a {
              color: $tertiaryColor;
            }
          }
        }
      }
    }


    main {

      .topProducts {

        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */

        &::-webkit-scrollbar {
          display: none; /* for Chrome, Safari, and Opera */
        }

        display: flex;
        //justify-content: space-evenly;
        overflow-y: hidden;
        padding: 6rem 4rem;
        column-gap: 4rem;

        &:first-child {
          padding-left: 4rem;
        }
        &:last-child {
          padding-right: 4rem;
        }

        background-color: $tertiaryColor;
        @include shadow(inside);


        article {
          display: inline-block;
          flex-direction: row;
          min-width: 250px;
          min-height: 300px;
          max-width: 250px;
          max-height: 300px;

          background-color: #eee;
          border-radius: 1.75rem;

          @include shadow(inside);

          justify-items: flex-start;

          img {
            position: relative;
            left: -25%;
            top: -20%;
            width: 45%;
          }

          ul {
            position: relative;
            top: -140px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            width: 100%;
            height: 100%;
            padding: 1rem 0;
            margin: 1rem 0;

            text-align: center;
            list-style: none;

            li {
              display: block;
              button {
                padding: 1rem;
                border-style: none;
                background-color: #97c9de;
                border-radius: 1.75rem;
                transition-duration: 500ms;

                &:active, &:hover {
                  background-color: $secondaryColor;
                  border-radius: 1.75rem;

                  color: white;
                  @include shadow(outside);

                  padding: 1rem 3rem;
                  transition-duration: 500ms;
                }
              }
            }
          }
        }

        /*
        display: flex;
        overflow-y: hidden;
        padding: 6rem 2rem;
        column-gap: 2rem;

        aspect-ratio: 100 / 25;

        background-color: $tertiaryColor;
        @include shadow(inside);

        div {
          aspect-ratio: 20 / 25;

          article {
            position: relative;
            aspect-ratio: 20 / 25;
            right: 0;

            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;

            background-color: #eee;
            border-radius: 1.5rem;

            @include shadow(inside);
          }
        }
         */
      }
    }


    .about {
      @include paddingContent;
    }

    .contact {
      @include paddingContent;
    }
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    color: $tertiaryColor;
    background-color: $secondaryColor;

    padding: 1rem 2rem;
    aspect-ratio: 100 / 10;

    @include shadow(outside);

    aside {
      display: block;
      align-self: center;
      text-align: right;
    }

    address {
      display: block;
      align-self: center;
      text-align: left;
    }
  }
}


ul[role="list"],
ol[role="list"] {
  list-style: none;
}

footer a {
  color: $tertiaryColor;
  text-decoration: none;
}

li > *, li > * > * {
  padding: 0;
  margin: 0;
}