* {
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", serif;
}


@media screen {

  .collapsible-menu {
    visibility: hidden;
    width: 50%;

  }
  .nav {
    z-index: 3;

  }

  .menuList {
    display: flex;
    visibility: visible;

    li {
      transition-duration: 400ms;

      padding: 1rem 0 1rem 1rem;
      margin: 0 0.5rem;

      &:active, &:hover {
        padding: 1rem 1.5rem;
      }

      * {
        justify-content: right;
      }
    }
  }

  .itemContainer {

    justify-content: space-evenly;

    .productImage {

      min-width: 320px;
      max-width: 30%;
    }

    .productInfo {

      min-width: 280px;
      max-width: 30%;
    }

    .productSelection {

      min-width: 280px;
      max-width: 30%;
    }
  }

  .firstRow, .secondRow {

    flex-direction: row;
    padding-bottom: 25px;
  }

  .leftContainer, .rightContainer {

    width: 50%;
    margin-right: 20px;
    padding: 20px;
  }

  .rightContainer {

    margin-right: 0;
    margin-left: 20px;
  }
}

@media screen and (max-width: 850px) {

  .firstRow, .secondRow {

    flex-direction: column;

    padding-bottom: 0;

  }

  .leftContainer, .rightContainer {

    padding: 20px 0 20px 0;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 965px) {

  .itemContainer {

    .productImage {

      min-width: 320px;
      max-width: 45%;
    }
    .productInfo {
      max-width: 45%;

    }
    .productSelection {
      max-width: 50%;
    }
  }

  @media screen and (max-width: 675px) {

    .itemContainer {

      .productImage {

        min-width: 320px;
        max-width: 70%;
      }
      .productInfo {
        min-width: 220px;
        max-width: 45%;

      }
      .productSelection {
        min-width: 220px;
        max-width: 50%;
      }
    }

    @media screen and (max-width: 523px) {

      .itemContainer {

        .productImage {

          min-width: 220px;
          width: 100%;
        }

        .productInfo {
          min-width: 220px;
          width: 100%;
        }

        .productSelection {
          min-width: 220px;
          width: 100%;
        }
      }
    }
  }
}


@media screen and (max-width: 1080px) {

  .collapsible-menu {
    visibility: visible;
    width: 30%;
  }
  .nav {
    z-index: 2;
  }

  .menuList {
    visibility: hidden;
    display: block;
    text-align: right;

    padding: 2rem 1rem 1rem 1rem;


    li {
      transition-duration: 400ms;
      margin: 0.5rem 0;

      * {
        justify-content: right;
      }

      &:first-child {
        margin-top: 3.5rem;

      }
    }
  }
}

nav {
  position: fixed;
  top: 1rem;
  right: 1rem;

  ul {

    padding: 0.5rem 1rem;
    border-radius: 3rem;

    display: flex;
    list-style: none;

    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

    li {
      border-radius: 3rem;

      a {
        font-size: 18px;
        text-decoration: none;
        color: var(--fc-black);

        display: flex;
        gap: 0.5rem;

        svg {
          width: 1.5rem;
        }

        .beside-icon {
          font-size: 110%;
          margin-top: 0.1rem;
        }
      }

      &:active, &:hover {
        background-color: #0A4A65FF;
        box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

        padding: 1rem 1.5rem;
        transition-duration: 400ms;

        svg {
          fill: #C1E3F3FF;
        }

        a {
          color: #C1E3F3FF;
        }
      }
    }
  }
}

.collapsible-menu {
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;


  z-index: 2;
  min-width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  top: 1rem;
  right: 1rem;

  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);
}

.menu-icons {
  font-size: 220%;
  color: #0a4a65;

  border-radius: 1rem;
  padding: 0.5rem 1rem;

  transition: background-color 0.4s;
  cursor: pointer;
}


#barLabel {

  font-size: 220%;
  color: #0a4a65;

  border-radius: 1rem;
  padding: 0.5rem 1rem;

  transition: background-color 0.4s;
  cursor: pointer;
}


#collapsible {
  display: none;
}

.itemContainer {

  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.6);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 0.5rem;
  margin: 120px 2rem 10px 2rem;


  .productImage {
    text-align: center;

    margin-top: 30px;

    img {
      max-width: 500px;
      width: 100%;
    }
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    #productName {
      padding: 1rem;
      font-size: 32px;
    }

    #manufacturerName {
      padding: 1rem;
      font-size: 18px;
    }

    .productPrice {
      padding: 1rem;

      color: #084057;
      font-size: 190%;

    }
  }

  .productSelection {
    border-left: 2px solid #084057;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    row-gap: 1.5rem;
    margin: 1rem 0;


    .priceInfo {
      width: 100%;

      .productPrice {

        padding: 0 1rem 0 1rem;
        color: #084057;
        font-size: 190%;
      }
    }

    .additionalInformation, .quantity, .buttons {

      display: flex;
      width: 100%;
    }

    .additionalInformation {
      flex-direction: column;
      row-gap: 1rem;

      p {
        font-size: 110%;
        padding: 0 1rem;
      }

      #available {
        color: green;
        font-weight: bold;

        margin-top: 0.5rem;
      }
    }

    .quantity {
      display: flex;
      align-items: center;

      .quantityLabel {
        font-size: 110%;
        margin-left: 20px;
      }

      .quantitySelector {
        cursor: pointer;

        background-image: url("/resources/downArrow.png");
        background-size: 30%;
        background-position: right;
        background-color: transparent;
        background-repeat: no-repeat;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-right: none;
        border-top: none;
        border-left: 2px solid #084057;
        border-bottom: 3px solid #084057;
        border-radius: 0.5rem;

        padding: 4px 14px 4px 8px;
        margin-left: 8px;
        margin-right: 10px;

        font-size: 120%;
      }
    }

    .buttons {
      width: 100%;
      flex-direction: column;
      align-items: center;

      row-gap: 1rem;

      #cartButton, #purchaseButton {
        cursor: pointer;

        box-shadow: 0 0 1px 0 rgba(8, 64, 87, 0.5);
        background-color: rgb(146, 194, 214);
        color: #084057;

        width: 50%;
        min-width: 150px;
        max-width: 200px;

        padding: 10px;
        border-radius: 1.5rem;
        font-size: 120%;

        transition: .3s;

      }

    }

    #returnProduct {

      font-size: 120%;
      padding: 0.5rem 1rem 1rem 1rem;
    }
  }
}

.infoButtons {

  margin-top: 40px;
  margin-bottom: 20px;

  ul {
    display: flex;
    width: fit-content;

    margin: 10px 30px;
    font-size: 22px;

    :first-child {
      margin-right: 5px;
      margin-left: 0;
    }

    li {
      display: flex;

      margin-left: 5px;

    }

    #technicalInformationLabel, #productDescriptionLabel {
      cursor: pointer;
      //text-align: center;

      border-radius: 1.5rem;
      transition: background-color .3s;
      max-width: 250px;
      background-color: #084057;
      color: #c1e3f3;
      padding: 25px;
      box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

    }

    #productDescriptionLabel {
      background-color: rgba(206, 232, 248, 0.8);
      color: #084057;

    }

    input {
      display: none;
    }
  }
}

.technicalInfoContainer, .productDescriptionContainer {

  display: block;

  box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.3);

  border-radius: 1rem;
  //border-left: 3px solid #084057;
  //border-bottom: 3px solid #084057;

  padding: 30px;
  margin: 0 2rem 0 2rem;


  table {

    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 20px;

    tr {

      th {
        border-bottom: 3px solid #f2f2f2;
        padding: 20px;
        width: 30%;

      }

      td {
        border-bottom: 3px solid #f2f2f2;
        padding: 20px;
        text-align: center;

      }

      &:last-child {

        th, td {
          border: none;
        }
      }
    }
  }
}

.productDescriptionContainer {

  display: none;

  .firstRow, .secondRow {
    display: flex;

  }

  .leftContainer, .rightContainer {


  }

  .sectionHeading {

    font-weight: normal;
    //font-style: italic;
    font-size: 32px;
    margin-bottom: 25px;
  }

  .sectionText {

    font-size: 20px;
    line-height: 32px;
  }

}

.relatedProducts {

  box-shadow: 0 0 4px 1px rgba(50, 50, 50, 0.6);

  //border-radius: 1rem;

  //margin: 2rem;
  padding: 1.5rem 1rem;

  margin-top: 6rem;
  margin-bottom: 6rem;

  .moreProductsHeading {

    margin-top: 1rem;
    margin-left: 3rem;

    #moreProductsHeading {

      width: fit-content;
      color: #073b4d;
      font-size: 1.8rem;
      padding: 1.2rem 2rem 1.2rem 1rem;
      margin: 0.5rem 0 1.5rem 0;

      border-radius: 1rem;
      //border-left: 3px solid #084057;
      //border-bottom: 2px solid #084057;

      box-shadow: inset 1px -2px 2px 0 rgba(50, 50, 50, 0.3);

    }
  }


  .articles {
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: hidden;

    padding: 4rem 2rem 2rem 4rem;
    column-gap: 5rem;
    row-gap: 6rem;

    &::-webkit-scrollbar {
      display: none;
    }

    &:first-child {
      padding-left: 4rem;
    }

    &:last-child {
      padding-right: 4rem;
    }

    background-color: white;

    article {
      min-width: 250px;
      min-height: 300px;
      max-width: 250px;
      max-height: 300px;

      background-color: #eee;
      border-radius: 1.75rem;

      box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.3);

      justify-items: center;

      img {
        position: relative;
        left: -25%;
        top: -20%;
        width: 45%;
      }

      ul {
        position: relative;
        top: -140px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 100%;
        height: 100%;
        padding: 1rem 0;
        margin: 1rem 0;
        text-align: center;
        list-style: none;

        li {
          display: block;

          button {
            cursor: pointer;
            padding: 1rem;
            border-style: none;
            background-color: #97c9de;
            border-radius: 1.75rem;
            transition-duration: 500ms;

            &:active, &:hover {
              background-color: #0A4A65FF;
              border-radius: 1.75rem;

              color: white;
              box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.6);

              padding: 1rem 3rem;
            }
          }
        }
      }
    }
  }
}

.toTop {
  position: fixed;
  right: 3rem;
  bottom: 10rem;

  opacity: 0;
  transition: .8s;
}

.toTopIcon {
  background-color: rgb(186, 219, 234);
  box-shadow: 0 0 2px 1px rgba(8, 64, 87, 0.3);
  color: #084057;

  border-radius: 2rem;
  padding: 20px;
  rotate: 90deg;
  font-size: 160%;

  transition: .25s;
}

.toTopIcon:hover {
  background-color: rgb(8, 64, 87);
  color: rgb(186, 219, 234);

}

footer {

  display: flex;
  align-items: center;

  box-shadow: inset 0 2px 5px 0 rgba(50, 50, 50, 0.2);
  color: #c1e3f3;
  background-color: #0A4A65FF;

  padding: 1rem 2rem;
  min-height: 120px;
  max-height: 120px;

  * {
    color: var(--fc-black);
    text-decoration: none;
    line-height: 1.5rem;
  }

}